body {
  font-family: 'TypeType-Regular', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #005844;
  background-color: rgba(252, 232, 206, 1);
  padding: 0;
  margin: 0;
}

header {
  height: 220px;
  top: 45px;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

a {
  color: #005844;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

header h1 {
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: 45px;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: none;
  color: #005844;
}

header img {
  width: 8%;
  position: fixed;
  right: 50px;
  top: 53px;
}

section {
  text-align: center;
}

.intro {
  width: 100%;
  height: 100%;
}

.info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  width: 47vw;
}

.hero {
  margin-top: 300px;
  margin-bottom: 300px;
}

.hero img {
  width: 75vw;
}

.icon img {
  width: 3%;
}

.copy,
.why {
  margin-left: auto;
  margin-right: auto;
  width: 47vw;
}

.hours {
  margin-top: 50px;
}

.contact {
  margin-bottom: 150px;
  font-size: 14px;
}

.instagram svg {
  width: 2%;
}

.instagram svg:hover .st1 {
  fill: #ff7c76;
}

.instagram svg:hover .st2 {
  stroke: #ff7c76;
}

.facebook svg {
  width: 2%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 10px;
  text-align: center;
  margin-bottom: 12px;
}

footer img {
  width: 25px;
  position: fixed;
  left: 90px;
  bottom: 22px;
}

footer a {
  color: #005844;
  text-decoration: none;
}

footer a:hover,
.hours a:hover {
  color: #ff7c76;
}

@media (max-width: 465.5px) {
  body {
    font-size: 16px;
    line-height: 1.8;
  }

  header {
    height: 150px;
  }

  header h1 {
    margin-top: 30px;
  }

  header img {
    width: 100px;
    position: fixed;
    right: 136px;
    top: 115px;
  }

  .info {
    margin-top: 100px;
    width: 90%;
  }

  .hero {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .hero img {
    width: 85%;
  }

  .icon img {
    width: 9%;
  }

  .copy, .why {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  footer {
    font-size: 12.5px;
  }

  footer img {
    width: 25px;
    position: fixed;
    left: 155px;
    bottom: 55px;
  }
}
