body {
  font-family: 'TypeType-Regular', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #005844;
  background-color: rgba(252, 232, 206, 1);
  padding: 0;
  margin: 0;
}

header {
  height: 220px;
  top: 45px;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

a {
  color: #005844;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

header h1 {
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: 45px;
  font-size: 19px;
  font-weight: normal;
  text-decoration: none;
  color: #005844;
}

header img {
  width: 120px;
  position: fixed;
  right: 50px;
  top: 53px;
}

section {
  text-align: center;
}

.intro {
  width: 100%;
  height: 100%;
}

.info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  width: 49vw;
}

.hero {
  margin-top: 300px;
  margin-bottom: 300px;
}

.hero img {
  width: 75vw;
}

.icon img {
  width: 3%;
}

.copy,
.why {
  margin-left: auto;
  margin-right: auto;
  width: 47vw;
}

.hero img {

}

.hours {
  margin-top: 50px;
}

.contact {
  margin-bottom: 183px;
  font-size: 14px;
}

.instagram svg {
  width: 1.6%;
}

.instagram svg:hover .st1 {
  fill: #ff7c76;
}

.instagram svg:hover .st2 {
  stroke: #ff7c76;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 10px;
  text-align: center;
  margin-bottom: 12px;
}

footer img {
  width: 25px;
  position: fixed;
  left: 90px;
  bottom: 22px;
}

footer a {
  color: #005844;
  text-decoration: none;
}

footer a:hover,
.hours a:hover {
  color: #ff7c76;
}

@media (max-width: 465.5px) {
  body {
    font-size: 14.5px;
    line-height: 1.7;
  }

  header {
    height: 205px;
  }

  header h1 {
    margin-top: 36px;
  }

  header img {
    margin-top: 50px;
    margin-left: 90px;
    width: 100px;
    position: relative;
  }

  .info {
    margin-top: 35px;
    width: 81%;
  }

  .hero {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .hero img {
    width: 85%;
  }

  .icon img {
    width: 9%;
  }

  .copy, .why {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .instagram svg {
    width: 7%;
    padding-bottom: 10px;
  }

  .contact {
    margin-bottom: 163px;
  }

  footer {
    font-size: 12.5px;
    position: relative;
  }

  footer img {
    width: 25px;
    position: fixed;
    left: 155px;
    bottom: 55px;
  }
}
